h2  
    
    {font-family: fantasy;}
.malzemeler {
    color:#BDF3AA;
    font-family: inherit;
    
}

body
{ background: url(SPACE.jpeg);
    width: auto;
    margin: auto;
    text-align: center;

}

.Boi { color:aqua }


h1
{ font-family: monospace }